annotated-types==0.8.0
cfgv==3.5.0
colorama==0.4.6
distlib==0.4.3
filelock==3.32.2
identify==2.6.19
iniconfig==2.3.0
nodeenv==1.10.0
packaging==26.3
platformdirs==4.11.1
pluggy==1.6.0
pre_commit==4.6.1
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pytest==9.1.1
python-discovery==1.5.1
PyYAML==6.0.3
typing-inspection==0.4.2
typing_extensions==4.16.0
virtualenv==21.7.3
